@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.wrap {
  width: 960px;
  /* background-color: aliceblue; */
  margin: auto;
}
.navi {
  border-bottom: 1px solid #333;
  background-color: rgb(255, 253, 249);
}
.navi ul {
  width: 600px;
  display: flex;
  margin: auto;
  background-color: rgb(250, 255, 178);
}
.navi ul li {
  width: calc(100% / 4);
  text-align: center;
}
.navi ul li a {
  display: block;
  line-height: 60px;
}
.navi ul li a:hover {
  background-color: rgb(98, 0, 255);
  color: aliceblue;
}
/* 개인정보 */
#singup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  /* background-color: aliceblue; */
}
#singup fieldset {
  padding: 20px;
  border: 1px solid red;
}
#singup fieldset legend {
  font-size: 13px;
  padding: 0 10px;
}
#singup li {
    display: flex;
    align-items: center;
  padding: 10px 0;
}
#signup li label{
    width: 60px;
    display: inline-block;
}
/* #singup fieldset:first-of-type li label{
    width: 60px;
    display: inline-block;
} */